	<script>
	    $(document).ready(function(){

	    	var target = '<%= @button.abr %>';
	    	var image = '<%= @button.img %>';
	    	var name = '<%= @button.name %>'
	    	var start_time;
	    	var errors;

	    	//once the page has loaded present the user with the button to begin.
			display_info();

		    $('.ribbon-button').click(function () {
		    	record_click(this)
		    });

		    $('.cm-button').click(function() {
		    	record_click(this);
			});

		    function display_info (){
		    	$('#target_instructions').empty();
		    	$('#target_instructions').append("Your instructions will appear here");
		    	$('#target_icon').append('<button id="target_icon_btn">Show me my next task</button>');
		    	$('#target_icon_btn').on( "click", function() {
		    		display_task() });
		    }

		    function display_task (){
		    	$('#target_icon').empty();
	    		$('#target_instructions').empty();
	    		$('#target_instructions').append('You are looking for <img src="/assets/normal/' + image +'" /> - ' + name);
	    		start_time = new Date();
	    		errors = 0;
		    }


			function record_click (div){

		    	//Does that title of the button pressed match the target button
		        var label = $(div).attr('id')
		        if (label && label == target) {
		        	
		    		var end_time = new Date();
		    		var time = end_time - start_time

		    		//update the form, then submit
		    		$('#task_time').val(time);
		    		$('#task_errors').val(errors);
		    		$('#new_task').submit();
		    	} else {
		    		errors += 1;

		    		//Not correct make a beep
		    		soundHandle = document.getElementById('soundHandle');
		    		soundHandle.play();
		    	}
			}

			$("#new_task")
		      .bind('ajax:success', function(data, status, xhr) { next_task(data, status, xhr); })
		      .bind('ajax:error', function(xhr, status, error) { failed_task(data, status, xhr); })

			function next_task(data, status, xhr){

				if (status['status'] == 'complete' ){
					window.location.href = status['url'];
				}

	    		//once the page has loaded present the user with the button to begin.
		    	display_info();

	    		target = status['button']['abr'];
	    		image = status['button']['img'];
	    		name = status['button']['name'];
				
			}

			function failed_task(data, status, xhr){
				//alert('oh no something went wrong');
			}
	    });
	</script>



	<audio id="soundHandle" src="http://www.soundjay.com/button/sounds/beep-2.mp3" style="display: none;"></audio>


	<%= form_for @task, :url => { :action => 'task_complete' }, remote: true do |f| %>
		<%= f.hidden_field :errors,value: 0, id: :task_errors %>
		<%= f.hidden_field :time, value: 0, id: :task_time %>
	<% end %>

