	<script>
	    $(document).ready(function(){

	    	var target = '<%= @button.abr %>';
	    	var start_time;
	    	var errors;

	    	//once the page has loaded present the user with the button to begin.
	    	$('#target_instructions').empty();
	    	$('#target_instructions').append("Your instructions will appear here");
	    	$('#target_icon').append('<button id="target_icon_btn">Show me my next task</button>');


	    	$('#target_icon_btn').click(function () {
	    		$('#target_icon').empty();
	    		$('#target_instructions').empty();
	    		$('#target_instructions').append('You are looking for <img src="/assets/normal/<%= @button.img %>"" /> - <%= @button.name %>');
	    		start_time = new Date();
	    		errors = 0;
	    	});

		    $('.ribbon-button').click(function () {
		    	record_click(this)
		    });

		    $('.cm-button').click(function() {
		    	record_click(this);
			});

			function record_click (div){
				console.log('recording click');

		    	//Does that title of the button pressed match the target button
		        var label = $(div).attr('id')
		        if (label && label == target) {
		        	
		    		var end_time = new Date();
		    		var time = end_time - start_time

		    		//update the form, then submit
		    		$('#task_time').val(time);
		    		$('#task_errors').val(errors);
		    		$('#task_form').submit();
		    		alert('submitted')
		    	} else {
		    		errors += 1;

		    		//Not correct make a beep
		    		soundHandle = document.getElementById('soundHandle');
		    		soundHandle.play();
		    	}
			}

			$("#task_form")
	     	  .bind('ajax:before', function(data, status, xhr) { before_send(data, status, xhr); })
		      .bind('ajax:success', function(data, status, xhr) { next_task(data, status, xhr); })
		      .bind('ajax:error', function(xhr, status, error) { failed_task(data, status, xhr); })
		

		    function before_send(data, status, xhr){
		    	alert('before send');
		    }

			function next_task(data, status, xhr){
				alert('success');
				console.log(data);
				console.log('=\n');
				console.log(status);
				console.log('=\n');
				console.log(xhr);
				console.log('=\n');
			}

			function failed_task(data, status, xhr){
				alert('oh no something went wrong');
			}
	    });
	</script>



	<audio id="soundHandle" src="http://www.soundjay.com/button/sounds/beep-2.mp3" style="display: none;"></audio>

	<%= form_tag('/task_complete_ajax', method: 'post', id: :task_form, remote: true) do %>
		<%= hidden_field_tag :errors, 0, id: :task_errors %>
		<%= hidden_field_tag :time, 0, id: :task_time %>
	<% end %>