<div id='home' class='container-fluid'>

	<div class='row-fluid'>

		<div class='span12'>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>Command Selection Experiment</h1>
			</div>

			<div class='row-fluid'>
				<div class='span10 offset1'>
					<p>This experiment will compare a user's performance when using Microsoft Office style Ribbons and CommandMaps for command selection.</p>
					
					<% if flash[:notice] %>
					    <div id="notice" class="alert alert-error"><%= flash[:notice] %></div>
					<% end %>

					<%= form_for @user, :url => { :action => 'begin' } do |f| %>
						<%= f.text_field :age, placeholder: 'Age: 19, 43', style: 'width:100px;'%>
						<%= f.text_field :gender, placeholder: 'Gender: Male or Female' %>
						<%= f.text_field :input_device, placeholder: 'Input Device: Trackpad, Mouse, Other', style: 'width:350px;' %>
						

						<%= submit_tag 'Begin', class: 'btn btn-primary'  %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>