<div id='home' class='container'>

	<div class='row'>

		<div class='span8 offset1'>
			<h1>User <%= @user.id %> Results</h1>
			
			<table class="table table-striped">
				<tr>
					<th>Menu</th>
					<th>#</th>
					<th>Block</th>
					<th>Image</th>
					<th>Time (ms)</th>
					<th>Errors</th>
				</tr>

				<% @tasks.each do |t| %>
					<tr>
						<td><%= t.menu %></td>
						<td><%= t.position %></td>
						<td><%= t.block %></td>
						<td><img src='/assets/normal/<%= t.button.img %>' /></td>
						<td><%= t.time %></td>
						<td><%= t.bad_clicks %></td>
					</tr>
				<% end %>
			</table>

		</div>
	</div>
</div>


