<%= render 'collect_data' %>
<div id="commandmap">
		<%= render 'commandmaps'%>
</div>
<div id="ribbon">
	<span class="ribbon-window-title">Command Selection Experiment</span>


<%= 
	if(@ribbon)
		render 'ribbon'
	end
%>

</div>
<div class="page">
	You are looking for <img src='/assets/normal/<%= @button.img %>' /> - <%= @button.name %>.
	<br />
	<br />
	<br />
</div>

